.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 30px;
  justify-items: center;
}

.courses div {
  justify-self: center;
}

@media (max-width: 450px) {
  .courses {
    grid-gap: 10px;
  }
}
