body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(169, 169, 169);
  outline: 1px solid slategrey;
}
